input {
    width: 100%;
   }
   button {
    border-radius: 5px;
    cursor: pointer;
   }
   button:disabled {
    cursor: not-allowed;
   }
   button:active {
    background: blue !important;
    color: white;
   }
   button:hover:not(:disabled) {
    background: #ccc;
   }
   